.home {
  border: 1px solid red;
  height: 100vh;
}
.home-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-management {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 500px;
}
.management {
  font-size: 25px;
  border: 1px solid black;
  margin: 10px;
}
